Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 5px 10px;
    background-color: transparent;
    backdrop-filter: blur(6.8px);
}
Header a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 10px;
    margin: 0 15px;
}
Header a:hover {
    color: #f9ca24;
}
Header img {
    width: 130px;
    object-fit: contain;
}

